.App {
  background-color:  #fafafa80;
  padding-top: 7%;
  padding-bottom: 7%;
}

.student-index {
  width: 60%;
  height: 650px;
  overflow: scroll; 
  margin: 0 auto;
  border: 1px solid  #fafafa80;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.student {
  list-style: none;
  height: 28%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid  lightgray;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.info-line {
  padding: 2px;
}

.pic {
  width: 125px;
  height: 125px;
  border: 1px solid  lightgray;
  border-radius: 100%;
  margin: 20px;
  margin-top: 28px;
}

.name {
  font-size: 40px;
  margin: 5px;
}