.App {
  background-color:  #fafafa80;
  padding-top: 7%;
  padding-bottom: 7%;
}

.title {
  background-color: #fafafa80;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.git {
  background-color: #fafafa80;
  margin: 0;
  text-align: center;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
}

.student-index {
  width: 60%;
  height: 650px;
  overflow: scroll; 
  margin: 0 auto;
  border: 1px solid  #fafafa80;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.student {
  list-style: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid  lightgray;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.info-line {
  padding: 2px;
}

.pic {
  width: 125px;
  height: 125px;
  border: 1px solid  lightgray;
  border-radius: 100%;
  margin: 20px;
  margin-top: 28px;
}

.name {
  font-size: 40px;
  margin: 5px;
  padding-top: 10px;
}

.name-filter {
  height: 8%;
  width: 98%;
  border-bottom: 1px solid  lightgray;
  margin: 2px;
  margin-left: 8px;
}

.name-search-field:focus {
  border-bottom: 1px solid  black;
}

.tag-search-field:focus {
  border-bottom: 1px solid  black;
}

.name-search-field {
  height: 80%;
  width: 99%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  padding: 5px;
}

.tag-search-field {
  height: 80%;
  width: 99%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  padding: 5px;
}

.button {
  height: 40px;
  width: 40px;
  font-size: 50px;
  font-weight: bold;
  border: none;
  outline: none;
  color: grey;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.top {
  display: flex;
  width: 680px;
  justify-content: space-between;
}

.scores {
  margin: 10px;
}

.grade {
  margin-left: 30px;
}

.test-score{
  display: flex;
}

.tags {
  display: flex;
}

.tag {
  background-color: lightgrey;
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.tag-field{
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid  lightgray;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  font-size: 14px;
}

.tag-field:focus {
  border-bottom: 1px solid  black;
}